name: "Voltronic + Node-RED (JS, Plug&Play)"
version: "0.3.6"
slug: "voltronic_nodered_js"
description: "Node-RED intégré + Voltronic (série) → MQTT, en JavaScript"
url: "https://github.com/tapion69/smartphoton-voltronic"

arch:
  - amd64
  - aarch64
  - armv7

startup: services
boot: auto
init: false

ingress: true
ingress_port: 0

ports:
  1880/tcp: 1880

panel_icon: "mdi:router-wireless"

uart: true
devices:
  - /dev/ttyUSB0
  - /dev/ttyUSB1
  - /dev/ttyUSB2
  - /dev/serial/by-id

options:
  mqtt_host: "core-mosquitto"
  mqtt_port: 1883
  mqtt_username: ""
  mqtt_password: ""
  mqtt_tls: false
  mqtt_topic_prefix: "voltronic"

  poll_interval_s: 5
  connect_timeout_s: 3

  inverters:
    - name: "inv1"
      port: "/dev/ttyUSB0"
      baudrate: 2400
      enabled: true
    - name: "inv2"
      port: "/dev/ttyUSB1"
      baudrate: 2400
      enabled: false
    - name: "inv3"
      port: "/dev/ttyUSB2"
      baudrate: 2400
      enabled: false

schema:
  mqtt_host: str
  mqtt_port: int
  mqtt_username: str?
  mqtt_password: password?
  mqtt_tls: bool
  mqtt_topic_prefix: str
  poll_interval_s: int
  connect_timeout_s: int
  inverters:
    - name: str
      port: str
      baudrate: int
      enabled: bool
